fastapi==0.109.2
uvicorn[standard]==0.27.1
python-multipart==0.0.9
openai-whisper==20231117
torch==2.2.0
torchaudio
numpy==1.26.4
pydub==0.25.1
python-dotenv==1.0.1
ffmpeg-python==0.2.0 
PyAudio==0.2.14
faster-whisper==1.1.1
pvporcupine==1.9.5
webrtcvad-wheels==2.0.14
halo==0.0.31
websockets==15.0.1
websocket-client==1.8.0
openwakeword>=0.4.0
numpy<2.0.0
RealtimeSTT==0.3.104
googletrans==4.0.2
ipdb
